<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/scripts.js"></script>
    <script src="https://kit.fontawesome.com/56be5f7b5c.js" crossorigin="anonymous"></script>
</head>


<div class="container-fluid" style="background-color:#2B2B2B;">

    <footer class="py-2 my-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-4 ">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" width="40">
      </a></li>
      <li class="nav-item"><a href="#" class="nav-link px-4 ">
      <img src="https://cdn-icons-png.flaticon.com/512/4138/4138124.png" width="45">
      </a></li>
        <li class="nav-item"><a href="#" class="nav-link px-4">
      <img src="https://cdn-icons-png.flaticon.com/512/2504/2504947.png" width="40">
      </a></li>

    </ul>
    <p class="text-center text-muted">© 2023 Company, Inc</p>
  </footer>
</div>
        <!-- Boots-->
<body>

</body>
</html>